# Node.js
server/node_modules/
server/.env
server/package-lock.json
server/scans/*
server/logs/*

# Angular
gui/wapiti-gui/node_modules/
gui/wapiti-gui/dist/
gui/wapiti-gui/.angular/
gui/wapiti-gui/.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.log

